requests
Office365-REST-Python-Client
msal_extensions
msal
pandas          # For reading CSV to test a proper client ID
pyjwt           # Used for decoding token and read received scopes. pyjwt==1.7.1 can also work
pywin32; sys_platform == 'win32'
loguru
tqdm            # Nice progress bar
# sqlalchemy      # Test if it can be directly connected to a sharepoint list
# sqlalchemy.orm  # Test if it can be directly connected to a sharepoint list
# selenium
# selenium-wire
ong_utils[jwt]
ong_utils[selenium] >= 0.5.0
ong_utils
requests_ntlm       # for auhenticating to a ntlm sharepoint

